{% extends "templates/login.html" %}

{% block main %}
<div class="main-content container">
  <div class="branding">
    <div class="logos">
      <a class="logo" href="https://libretexts.org" target="_blank">
        <img src="/hub/static/external/images/libretexts_logo.png" alt="Libretexts" style="max-height:150px;max-width:100%;">
      </a>
      <a class="logo" href="https://ucdavis.edu" target="_blank" style="padding:20px;">
        <img src="/hub/static/external/images/UC_Davis_Wordmarks/2018/Extended/PNG/expanded_logo_blue.png" alt="UC Davis" style="max-height:60px;max-width:100%;">
      </a>
      <a class="logo" href="https://bioinformatics.ucdavis.edu/" target="_blank">
        <img class="sponsor" src="/hub/static/external/images/BioinformaticsCore.png" alt="UC Davis Genome Center Bioinformatics Core"
              padding="0px">
      </a>
      <a class="logo" href="https://www.ed.gov/news/press-releases/us-department-education-awards-49-million-grant-university-california-davis-develop-free-open-textbooks-program"
          target="_blank">
        <img class="sponsor" src="/hub/static/external/images/DOESeal.svg" alt="U.S. Department of Education">
      </a>
    </div>
  </div>
  
  
  <img width="80%" src="https://lh3.googleusercontent.com/wWiXFQLpu-HSuZuafq_03S9g-fYD3MsAM1NrQh-Mfcjcm4BxgXnoiX0AvIEksxiuCY2ARELHH3pqWkwFUsHVbzg6-P1tTclij9WA0J8XYKair7jpdaX6FTsGiMVge_u21lZBnmCqEGBPZrOEgYVrsZ0-peSnxDN-U1vhSVImv6QJjSmznXa8memQKkCvdWO5gworPUOa4VHaO2lkY2ACfwUjBVb1V4ekJF2mSt94egRVzKkEGgdXT8MQzderN7OZDj-yjLh1FLohhpCe3OMd-IPoZkKWMKC2gcNBekUc1zuFUUI0SEEO4qR6325tlLfQMytGck8lNZudbg3RJrmDuN_hQcirGCR-c9FVJoWCnHiM6VvfUlvjB-MX-QWeqhTIkrBH6F1oYPfQFi_WvGNu-BVWZTFK2FupwkF9rQ9BXGinQSD13LwgXQJfEBAPxAvSItTFkU_R2K25E6p5MADNc5GzHilAbppFaVArTv3ysbUwCe_6c7IEVvg3u5QlbdsUKXp0Wt55hQqRuzls_q-JL47o6ePO738VU0SY_oUyv8yY5_pqWhmVaMXnORv1uHt5gt6umFfnwtY0R-VoEalpi7bMlRQngL4dQPu5RKQ0jBshkEq_R5qUhPPWKnOuzLTwf-qrGSZ_RaP_E8TTuEnVXYrl5NHgjdQ2BZaD-sDNklrLgsrhnlt-iOuotLt6elu3-ER5odc2pePPVuPWO2-fOOzz6C8DD7f0SrldgIqzGyLMAK5S=s920-no">

</div>
{% endblock main %}

{% block stylesheet %}
{{ super() }}
<style>
  .main-content {
    margin-left: auto;
    margin-right: auto;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 30px;
    flex-wrap: nowrap;
  }

  .left-col {
    margin-top: 20px;
  }

  #libretexts {
    max-height: 150px;
  }

  #ucdavis {
    max-height: 60px;
    padding: 10px;
  }

  .brand {
    flex-shrink: 2;
  }

  @media all and (max-width: 500px) {
    .logos {
      /* On small screens, we are no longer using row direction but column */
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .branding img {
      justify-content: center;
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    .logos {
      justify-content: space-around;
    }
    .logo {
      flex-basis: 50%;
    }
  }

  @media (max-width: 1400px) {
    .logos {
      justify-content: space-around;
    }
    .main-content {
      width: 100%;
    }
  }

  @media (min-width: 1401 px) {
    .main-content {
      width: 1400px;
    }
  }

  .sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sponsors-footer {
    height: 300px;
  }

  .sponsor {
    padding: 10px;
    max-width: 100%;
    max-height: 150px;
  }

  #login-box {
    border: 1px solid silver;
    padding: 10px;
    margin-bottom: 30px;
    /*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 5px;
    flex-grow: 2;
  }

  .body {
    padding-bottom: 50px;
  }

  #login-main .auth-form-body {
    border-color: rgb(0, 124, 186);
    color: white;
  }

  #login-main {
    margin-top: 5%;
    height: inherit;
    width: inherit;
    margin-bottom: 5%;
  }

  #login-main .container {
    width: 50%;
  }

  footer {
    border-top: 1px solid silver;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  footer p {
    margin: 0 auto 0 auto;
    text-align: center;
  }

  #login-main form {
    vertical-align: top;
  }

  #login-main .auth-form-header {
    color: white;
    background: rgb(219, 170, 0);
    border: 1px solid;
    border-color: rgb(0, 124, 186);
  }

  #insecure-login-warning {
    color: black;
  }

  .btn-jupyter.active,
  .btn-jupyter:active,
  .open>.dropdown-toggle.btn-jupyter {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #a88400;
    border-color: #a88400;
    outline-color: #a88400;
  }

  #login-main .form-control:focus,
  #login-main input[type=submit]:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(219, 170, 0);
    border-color: rgb(219, 170, 0);
    outline-color: rgb(219, 170, 0);
  }

  .btn-jupyter {
    color: #fff;
    background-color: #F37524;
    border-color: #E34F21;
    padding: 10px;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
</style>
{% endblock %}
